body{
font-family: 'Quicksand', sans-serif;
  font-size: 18px;

}
h1{
  font-family: 'Homemade Apple', cursive;
  font-size: 50px;
 }

#main-content h2, h3{

 color: #34314c;
}

#main-content{
  background-color: #E0E3DA;
  margin: 35px;
  padding: 15px;
   
}

li{
  list-style: none;
}


